body, #buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  background-color: #2b2b2b;
  padding: 20px;
  /* box-sizing: border-box; */
}

h1 {
    
}

.button {
    border-radius: 10px;
    margin:10px;
}

#startBtn {
    margin-top: 40px;
    font-size: 18px;
}


#rollBtn, #holdBtn {
    padding: 10px 20px;
    font-size: 26px;
    transition: all 0.2s ease-in-out;
    }

#rollBtn:hover, #holdBtn:hover {
    transform: scale(1.1);
    }



.wrapper {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 1rem;
  padding: 1rem;
  overflow-wrap: break-word;
  border-radius: 10px;
}

.player {
    background-color: #151515;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    overflow-wrap: break-word;
    border-radius: 10px;

}


.activePlayer {
    border: 5px solid red;
}

#totalScore1, #totalScore2 {
    font-size: 32px;

}

#roundScore1, #roundScore2 {
    font-size: 24px;
}

#hidden {
    display: none;
  }

  #rollNumber {
    font-size: 42px;
  }